# IntelliJ IDEA / Android Studio
*.iml
.idea/

# macOS specific
.DS_Store

# Gradle specific
.gradle/
.gradle-cache/
build/
buildSrc/build/

# Kotlin/Multiplatform specific
/.kotlin/
bin/

# Android specific
captures/
.externalNativeBuild/
.cxx/

# Local properties
local.properties

# Xcode specific (for iOS targets)
xcuserdata/